<div data-role="footer">
<div data-role="navbar">
<ul>
<li><a href="#menu4" data-icon="info" data-transition="slideup">サービス情報</a></li>
<li><a href="#menu5" data-icon="star" data-transition="pop">お問い合わせ</a></li>
</ul>
</div>
</div>
