[% WRAPPER 'include/layout.tt' %]

<section>

こんにちは [% name %] さん
<div>
    <a href="/register_friend">あなたの気になる友達の名前を登録して下さい</a>
</div>
<div>
    <a href="/registered_friends">あなたが登録した気になる友達</a>
</div>

</section>

[% END %]
